<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gd.mapper.AShareMapper">

    <sql id="companyIdTable">
       (
		select distinct a.company_id from t_permission a, t_role_permission b where
		        a.id = b.permission_id and a.type = 'menu' and b.role_id in (
		        select y.role_id from t_user x, t_user_role y,t_role z
		         where x.id = y.user_id and x.id = ${userId}
		         and z.status=0 and z.id=y.role_id
		        ) 
		) 
    </sql>   
    
    <sql id="companyIdTableExist">
       (
		select distinct a.company_id from t_permission a, t_role_permission b where
		        a.id = b.permission_id and a.type = 'menu' and b.role_id in (
		        select y.role_id from t_user x, t_user_role y,t_role z
		         where x.id = y.user_id and x.id = ${userId}
		         and z.status=0 and z.id=y.role_id and t1.company_id=a.company_id
		        ) 
		) 
    </sql>  
    
    <sql id="companyIdWhere">
       
    </sql>       
	
	
</mapper>