<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gd.mapper.NBMapper">

    <select id="getCompanyIdsByUserId" parameterType="java.util.Map"
            resultType="String">
	select wmsys.wm_concat(a.company_id) company_ids
	from t_permission a, t_role_permission b where a.id = b.permission_id and 
	a.type = 'menu' and b.role_id in ( select y.role_id from t_user x, t_user_role y,
	t_role z where x.id = y.user_id and x.id = ${userId} and z.status=0 and z.id=y.role_id 
	) 
	</select>

    <select id="countNBByCondition" parameterType="java.util.Map"
            resultType="int">
        SELECT COUNT(*)
        from em_data_xb t,em_meter t1
        where <!--t1.company_Id in <include refid="com.gd.mapper.AShareMapper.companyIdTable"/>
		and--> t.e_num=t1.meter_no
        <if test="deviceNo != null">
            and t.device_no = #{deviceNo}
        </if>
        <if test="meterNo != null">
            and t.e_num = #{meterNo}
        </if>
        <if test="companyIds != null">
            and t1.company_Id in ${companyIds}
        </if>
        <if test="companyId != null and companyId.length()==2 ">
            and t1.company_Id like #{companyId}||'%'
        </if>
        <if test="companyId != null and companyId.length()==4 ">
            and t1.company_Id = #{companyId}
        </if>
        <if test="projectNo != null">
            and t1.project_no = #{projectNo}
        </if>
        <if test="installDate1 != null">
            and TO_CHAR(t.time / (60 * 60 * 24*1000) +
            TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY-MM-DD')=#{installDate1}
        </if>
        <if test='source != null'>
            and t.SOURCE=#{source}
        </if>
    </select>

    <select id="selectNBList" parameterType="java.util.Map" resultType="NBValue">
        select *
        from(select r.* ,ROWNUM rn
        from(
        select t.id,dev_id as device_no,dev_id as imei,orig_value,trunc(time/1000,0) as collect_time,t.source,
        e_kwh1 as e_value,
        e_voltage_a e_voltage,e_current_a e_current,e_signal,t.flag_reload reload,E_SWITCH,SEQ_TYPE,
        e_num as meter_no,e_seq,t1.platform,t1.project_no,t1.company_id,
        e_voltage_a,e_voltage_b,e_voltage_c,e_current_a,e_current_b,e_current_c,
        (select t2.name from t_permission t2 where t2.company_id=substr(t1.company_id,0,2)) company,
        (select t2.name from t_permission t2 where t2.company_id=t1.company_id) unit
        from em_data_xb t,em_meter t1
        where

        <!--  exists <include refid="com.gd.mapper.AShareMapper.companyIdTableExist"/>
        and -->t.e_num=t1.meter_no
        <if test="deviceNo != null">
            and t.device_no = #{deviceNo}
        </if>
        <if test="meterNo != null">
            and t.e_num = #{meterNo}
        </if>
        <if test="companyIds != null">
            and t1.company_Id in ${companyIds}
        </if>
        <if test="companyId != null and companyId.length()==2 ">
            and t1.company_Id like #{companyId}||'%'
        </if>
        <if test="companyId != null and companyId.length()==4 ">
            and t1.company_Id = #{companyId}
        </if>
        <if test="projectNo != null">
            and t1.project_no = #{projectNo}
        </if>
        <if test="installDate1 != null">
            and TO_CHAR(t.time / (60 * 60 * 24*1000) +
            TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY-MM-DD')=#{installDate1}
        </if>
        <if test='source != null'>
            and t.SOURCE=#{source}
        </if>
        order by t.time desc
        ) r
        where ROWNUM &lt;= ${p2}

        ) table_alias
        where table_alias.rn &gt; ${p1}
    </select>

    <select id="countZZNBByCondition" parameterType="java.util.Map"
            resultType="int">
        SELECT COUNT(*)
        from zz_nb_data_${companyId} t,em_meter t1
        where <!-- t1.company_Id in <include refid="com.gd.mapper.AShareMapper.companyIdTable"/>
		and--> t.e_num=t1.meter_no
        <if test="deviceNo != null">
            and t.device_no = #{deviceNo}
        </if>
        <if test="meterNo != null">
            and t.e_num = #{meterNo}
        </if>

        <if test="projectNo != null">
            and t1.project_no = #{projectNo}
        </if>
        <if test="installDate1 != null">
            and TO_CHAR(t.time / (60 * 60 * 24*1000) +
            TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY-MM-DD')=#{installDate1}
        </if>
        <if test='source == "nb"'>
            and t.e_current_b is null
        </if>
        <if test='source == "nb3"'>
            and t.e_current_b is not null
        </if>
    </select>

    <select id="selectZZNBList" parameterType="java.util.Map" resultType="NBValue">
        select *
        from(select r.* ,ROWNUM rn
        from(
        select t.id,dev_id as device_no,t.imei,orig_value,trunc(time/1000,0) as collect_time,'nb' as source,
        e_readings as e_value,
        e_voltage,e_current,e_signal,t.flag_reload reload,E_SWITCH,SEQ_TYPE,
        e_num as meter_no,e_seq,'移动' as platform,t1.project_no,t1.company_id,
        e_voltage_a,e_voltage_b,e_voltage_c,e_current_a,e_current_b,e_current_c
        from zz_nb_data_${companyId} t,em_meter t1
        where <!--  exists <include refid="com.gd.mapper.AShareMapper.companyIdTableExist"/>
		 		and--> t.e_num=t1.meter_no
        <if test="deviceNo != null">
            and t.device_no = #{deviceNo}
        </if>
        <if test="meterNo != null">
            and t.e_num = #{meterNo}
        </if>

        <if test="projectNo != null">
            and t1.project_no = #{projectNo}
        </if>
        <if test="installDate1 != null">
            and TO_CHAR(t.time / (60 * 60 * 24*1000) +
            TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY-MM-DD')=#{installDate1}
        </if>
        <if test='source == "nb"'>
            and t.e_current_b is null
        </if>
        <if test='source == "nb3"'>
            and t.e_current_b is not null
        </if>
        order by t.time desc
        ) r
        where ROWNUM &lt;= #{p2}

        ) table_alias
        where table_alias.rn &gt; #{p1}
    </select>

    <select id="countByCondition" parameterType="java.util.Map"
            resultType="int">
        SELECT COUNT(*) from v_em_data t
        where t.company_Id in
        <include refid="com.gd.mapper.AShareMapper.companyIdTable"/>
        <if test="deviceNo != null">
            and t.device_no = #{deviceNo}
        </if>
        <if test="meterNo != null">
            and t.METER_NO = #{meterNo}
        </if>
        <if test="source != null">
            and t.SOURCE = #{source}
        </if>
        <if test="platform != null">
            and t.PLATFORM = #{platform}
        </if>
        <if test="companyId != null and companyId.length()==2 ">
            and t.company_Id like #{companyId}||'%'
        </if>
        <if test="companyId != null and companyId.length()==4 ">
            and t.company_Id = #{companyId}
        </if>
        <if test="projectNo != null">
            and t.project_no = #{projectNo}
        </if>
        <if test="installDate1 != null">
            and TO_CHAR(t.collect_time / (60 * 60 * 24) +
            TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY-MM-DD')=#{installDate1}
        </if>
    </select>

    <select id="selectList" parameterType="java.util.Map" resultType="NBValue">
        select *
        from(select r.* ,ROWNUM rn
        from(
        select t.* from v_em_data t
        where t.company_Id in
        <include refid="com.gd.mapper.AShareMapper.companyIdTable"/>
        <if test="deviceNo != null">
            and t.device_no = #{deviceNo}
        </if>
        <if test="meterNo != null">
            and t.METER_NO = #{meterNo}
        </if>
        <if test="source != null">
            and t.SOURCE = #{source}
        </if>
        <if test="platform != null">
            and t.PLATFORM = #{platform}
        </if>
        <if test="companyId != null and companyId.length()==2 ">
            and t.company_Id like #{companyId}||'%'
        </if>
        <if test="companyId != null and companyId.length()==4 ">
            and t.company_Id = #{companyId}
        </if>
        <if test="projectNo != null">
            and t.project_no = #{projectNo}
        </if>
        <if test="installDate1 != null">
            and TO_CHAR(t.collect_time / (60 * 60 * 24) +
            TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY-MM-DD')=#{installDate1}
        </if>
        order by t.collect_time desc
        ) r
        where ROWNUM &lt;= #{p2}
        ) table_alias
        where table_alias.rn &gt; #{p1}
    </select>

    <select id="selectExist" resultType="int">
		select count(*) from v_em_data t where t.COLLECT_TIME>#{time}
	</select>

    <insert id="insertLog">
		insert into em_schedular_log
		  (id, name, msg, duration)
		values (EM_SCHEDULAR_LOG_SEQ.nextval,'warning',#{msg},#{duration})
	</insert>

</mapper>