<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd.mapper.RoleMapper">
    <select id="getRolesByUserId" resultType="Role" parameterType="int">
        select a.* from t_role a, t_user_role b where a.id = b.role_id and b.user_id = #{userId}
    </select>

    <select id="getMenuRolesByUserId" resultType="Role" parameterType="int">
        select a.* from t_role_menu a, t_user_role_menu b where a.id = b.role_id and b.user_id = #{userId}
    </select>

    <select id="getRolesByPermissionId" resultType="Role" parameterType="int">
        select a.* from t_role a, t_role_permission b where a.id = b.role_id and b.permission_id = #{permissionId}
    </select>

    <delete id="removeRolePermissionByRoleId" parameterType="int">
        delete from t_role_permission where role_id = #{roleId}
    </delete>

    <delete id="removeMenuRolePermissionByRoleId" parameterType="int">
        delete from t_role_permission_menu where role_id = #{roleId}
    </delete>

    <delete id="removeUserRoleByRoleId" parameterType="int">
        delete from t_user_role where role_id = #{roleId}
    </delete>

    <delete id="removeMenuUserRoleByRoleId" parameterType="int">
        delete from t_user_role_menu where role_id = #{roleId}
    </delete>

    <insert id="saveRolePermission" parameterType="Map">
        insert all
        <foreach item="permissionId" collection="permissionIds" separator=" ">
            into t_role_permission(role_id, permission_id) values(#{roleId}, #{permissionId})
        </foreach>
        select 1 from dual
    </insert>

    <insert id="saveMenuRolePermission" parameterType="Map">
        insert all
        <foreach item="permissionId" collection="permissionIds" separator=" ">
            into t_role_permission_menu(role_id, permission_id) values(#{roleId}, #{permissionId})
        </foreach>
        select 1 from dual
    </insert>

    <insert id="insert" parameterType="Role">

        <selectKey keyProperty="id" resultType="INTEGER" order="BEFORE">
            select role_seq.nextval from dual
        </selectKey>

        insert
        into t_role values(#{id,jdbcType=INTEGER},#{name},#{description},#{status.id})
    </insert>

    <insert id="insertMenu" parameterType="Role">

        <selectKey keyProperty="id" resultType="INTEGER" order="BEFORE">
            select role_seq.nextval from dual
        </selectKey>

        insert
        into t_role_menu values(#{id,jdbcType=INTEGER},#{name},#{description},#{status.id})
    </insert>


</mapper>