<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdiot.mapper.NBEMEventMapper">

    <sql id="Base_Column_Sql">
		id,dev_id,orig_value,time,event_type,e_num,e_fac,imei,e_seq,e_start_time,e_end_time,
		e_start_kwh,e_end_kwh,e_start_kwh2,e_end_kwh2,
		e_start_voltage_a,e_start_voltage_b,e_start_voltage_c,e_end_voltage_a,e_end_voltage_b,e_end_voltage_c,
		e_start_current_a,e_start_current_b,e_start_current_c,e_end_current_a,e_end_current_b,e_end_current_c,
		e_start_switch,e_end_switch,e_start_status1,e_end_status1,e_start_status2,e_end_status2,
		e_start_module,e_end_module,flag_reload,source,deal_flag
	</sql>

    <insert id="insertOne" parameterType="com.gdiot.model.YDEMeterEventPo">
        insert into em_event_xb (
        <include refid="Base_Column_Sql"></include>
        ) values (default,#{devId,jdbcType=VARCHAR},#{origValue,jdbcType=VARCHAR},
        #{time,jdbcType=BIGINT},#{eventType,jdbcType=VARCHAR},#{eNum,jdbcType=VARCHAR},
        #{eFac,jdbcType=VARCHAR},#{imei,jdbcType=VARCHAR},#{eSeq,jdbcType=BIGINT},
        #{eStartTime,jdbcType=VARCHAR},#{eEndTime,jdbcType=VARCHAR},
        #{eStartKwh,jdbcType=VARCHAR},#{eEndKwh,jdbcType=VARCHAR},#{eStartKwh2,jdbcType=VARCHAR},#{eEndKwh2,jdbcType=VARCHAR},
        #{eStartVoltageA,jdbcType=VARCHAR},#{eStartVoltageB,jdbcType=VARCHAR},#{eStartVoltageC,jdbcType=VARCHAR},
        #{eEndVoltageA,jdbcType=VARCHAR},#{eEndVoltageB,jdbcType=VARCHAR},#{eEndVoltageC,jdbcType=VARCHAR},
        #{eStartCurrentA,jdbcType=VARCHAR},#{eStartCurrentB,jdbcType=VARCHAR},#{eStartCurrentC,jdbcType=VARCHAR},
        #{eEndCurrentA,jdbcType=VARCHAR},#{eEndCurrentB,jdbcType=VARCHAR},#{eEndCurrentC,jdbcType=VARCHAR},
        #{eStartSwitch,jdbcType=VARCHAR},#{eEndSwitch,jdbcType=VARCHAR},
        #{eStartStatus1,jdbcType=VARCHAR},#{eEndStatus1,jdbcType=VARCHAR},
        #{eStartStatus2,jdbcType=VARCHAR},#{eEndStatus2,jdbcType=VARCHAR},
        #{eStartModule,jdbcType=VARCHAR},#{eEndModule,jdbcType=VARCHAR},
        #{flagReload,jdbcType=VARCHAR},#{source,jdbcType=VARCHAR},#{dealFlag,jdbcType=INTEGER})
    </insert>

    <select id="selectList" resultType="com.gdiot.model.YDEMeterEventPo">
        select * from em_event_xb
        where 1 = 1
        <if test="dev_id != null">
            and dev_id = #{dev_id,jdbcType=VARCHAR}
        </if>
        <if test="e_num != null">
            and e_num = #{e_num,jdbcType=VARCHAR}
        </if>
        <if test="imei != null">
            and imei = #{imei,jdbcType=VARCHAR}
        </if>
        <if test="beginTime != null">
            and time &gt; #{beginTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        <if test="source != null">
            and source = #{source,jdbcType=VARCHAR}
        </if>
        order by id desc
        limit #{offset} ,#{limit}
    </select>

    <select id="countByCondition" resultType="java.lang.Integer">
        select count(*) from em_event_xb
        where 1 = 1
        <if test="dev_id != null">
            and dev_id = #{dev_id,jdbcType=VARCHAR}
        </if>
        <if test="e_num != null">
            and e_num = #{e_num,jdbcType=VARCHAR}
        </if>
        <if test="imei != null">
            and imei = #{imei,jdbcType=VARCHAR}
        </if>
        <if test="beginTime != null">
            and time &gt; #{beginTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        <if test="source != null">
            and source = #{source,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>