<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdiot.mapper.NBYDEMStatusMapper">
	
	<insert id="insertStatus" parameterType="com.gdiot.model.YDEMeterStatusPo">
		insert into em_nb_status (
			id,dev_id,imei,status,type,login_type,time
		) values (default,#{devId,jdbcType=VARCHAR},#{imei,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},#{type,jdbcType=INTEGER},#{loginType,jdbcType=INTEGER},#{time,jdbcType=BIGINT})
	</insert>
	
	<update id="updateEMStatus" parameterType="com.gdiot.model.YDEMeterStatusPo" > 
	  UPDATE em_nb_status SET 
	  	status=#{status,jdbcType=INTEGER},
	  	type=#{type,jdbcType=INTEGER},
	  	time=#{time,jdbcType=BIGINT} 
	  WHERE dev_id=#{devId,jdbcType=VARCHAR}
	  <!-- 属性字段名区分大小写 -->
	</update>
	
	<select id="selectDevid" parameterType="com.gdiot.model.YDEMeterStatusPo" resultType="com.gdiot.model.YDEMeterStatusPo">
		 SELECT * FROM em_nb_status WHERE dev_id = #{dev_id,jdbcType=VARCHAR} order by time desc
		 <!--注意：结果字段名与属性名保持一致，区分大小写-->
	</select>


	<!-- em_nb_status_seq.nextval -->
	
	<select id="selectStatus" parameterType="com.gdiot.model.YDEMeterStatusPo" resultType="com.gdiot.model.YDEMeterStatusPo">
		select * from em_nb_status
			where 1 = 1		
			<if test="dev_id != null">
				and dev_id = #{dev_id,jdbcType=VARCHAR}
			</if>
			<if test="imei != null">
				and imei = #{imei,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and status = #{status,jdbcType=VARCHAR}
			</if>		
			order by time desc
		limit #{offset} ,#{limit}
	</select>
	
	<select id="countByCondition" resultType="java.lang.Integer">
		select count(*) from em_nb_status
		where 1 = 1
		<if test="dev_id != null">
			and dev_id = #{dev_id}
		</if>
		<if test="imei != null">
			and imei = #{imei}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
	</select>
	
</mapper>