<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdiot.mapper.QDEMDataMapper">
    <resultMap id="BaseResultMap" type="com.gdiot.model.QDEMDataPo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="dev_id" jdbcType="VARCHAR" property="devId"/>
        <result column="orig_value" jdbcType="VARCHAR" property="origValue"/>
        <result column="time" jdbcType="BIGINT" property="time"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="e_num" jdbcType="VARCHAR" property="eNum"/>
        <result column="e_kwh" jdbcType="VARCHAR" property="eKwh"/>
        <result column="e_kw_all" jdbcType="VARCHAR" property="eKwAll"/>
        <result column="e_voltage_a" jdbcType="VARCHAR" property="eVoltageA"/>
        <result column="e_voltage_b" jdbcType="VARCHAR" property="eVoltageB"/>
        <result column="e_voltage_c" jdbcType="VARCHAR" property="eVoltageC"/>
        <result column="e_current_a" jdbcType="VARCHAR" property="eCurrentA"/>
        <result column="e_current_b" jdbcType="VARCHAR" property="eCurrentB"/>
        <result column="e_current_c" jdbcType="VARCHAR" property="eCurrentC"/>
        <result column="e_switch1" jdbcType="VARCHAR" property="eSwitch1"/>
        <result column="e_switch2" jdbcType="VARCHAR" property="eSwitch2"/>
        <result column="e_time" jdbcType="VARCHAR" property="eTime"/>
        <result column="e_temperature" jdbcType="VARCHAR" property="eTemperature"/>
    </resultMap>
    <sql id="Base_Column_Sql">
    id, dev_id, orig_value, time, source, e_num, e_kwh, e_kw_all, e_voltage_a, e_voltage_b, e_voltage_c,
    e_current_a, e_current_b, e_current_c, e_switch1, e_switch2, e_time, e_temperature
  </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gdiot.model.QDEMDataPo"
            useGeneratedKeys="true">
        insert into em_data_qd (
        <include refid="Base_Column_Sql"></include>
        )
        values (#{devId,jdbcType=VARCHAR}, #{origValue,jdbcType=VARCHAR},
        #{time,jdbcType=BIGINT},#{source,jdbcType=VARCHAR}, #{eNum,jdbcType=VARCHAR},#{eKwh,jdbcType=VARCHAR},
        #{eKwAll,jdbcType=VARCHAR}, #{eVoltageA,jdbcType=VARCHAR},#{eVoltageB,jdbcType=VARCHAR},
        #{eVoltageC,jdbcType=VARCHAR}, #{eCurrentA,jdbcType=VARCHAR}, #{eCurrentB,jdbcType=VARCHAR},
        #{eCurrentC,jdbcType=VARCHAR}, #{eSwitch1,jdbcType=VARCHAR},#{eSwitch2,jdbcType=VARCHAR},
        #{eTime,jdbcType=VARCHAR}, #{eTemperature,jdbcType=VARCHAR}
        )
    </insert>
</mapper>