h1.h1-title {
    margin: 10px 0 15px 0;
    padding: 0;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    line-height: 24px;
    padding-bottom: 10px;
}

.input-group-addon, .form-control, .btn {
    font-size: 12px;
    padding: 0px 10px;
    line-height: 18px;
    height: 28px;
}

.input-group {
    float: left;
    margin-right: 20px;
}

.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    font-size: 12px;
    padding: 6px;
    line-height: 18px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 12px;
    padding: 6px;
    line-height: 18px;
}

.fixed-table-body {
    overflow-x: hidden;
}

.fixed-table-pagination .pagination-info {
    font-size: 12px;
    line-height: 18px;
}

.bootstrap-table .table {
    border-bottom: 0px;
}

.fixed-table-pagination .page-list {
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px;
}

.fixed-table-pagination div.pagination .pagination {
    font-size: 12px;
}

.fixed-table-pagination .pagination a {
    padding: 2px 8px;
    line-height: 18px;
}

.fixed-table-header {
    display: none !important;
}

.fixed-table-body > table {
    margin-top: 0 !important;
}

.fixed-table-container {
    padding-bottom: 0 !important;
}