#label-choose .fl {
    float: left;
    width: 44%;
    margin-left: 4%;
}

#label-choose {
    height: 350px;
    width: 610px;
    background: #fff;
    max-width: 1000px;
    min-width: 500px;
}

#label-choose .main {
    width: 200px;
    float: left;
    margin-right: 1.5%;
}

#label-choose .mid-con {
    float: left;
    width: 200px;
}

#label-choose .score {
    float: right;
    width: 200px;
}

#label-choose .middle {
    width: 200px;
    float: left;
    margin-right: 0.8%;
    border: 1px solid #ccc;
    height: 100%
}

#label-choose .middle > ul {
    height: 300px;
}

#label-choose .head {
    width: 100%;
    background: #eee;
}

#label-choose .title {
    font-size: 12px;
    color: #333;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#label-choose ul {
    margin-top: 10px;
    height: 300px;
    overflow-y: auto;
    display: block;
    margin-bottom: 10px;
}

#label-choose li {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #333;
    background: #fff;
    margin: 0 auto;
    margin-top: 10px;
}

#label-choose li > p {
    font-size: 12px;
    color: inherit;
    text-align: center;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}

#label-choose li > p > span {
    font-size: 16px;
    cursor: pointer;
}

#label-choose li.blue {
    background: #3399ff;
    color: #fff;
    border: 0
}

#label-choose li.organ {
    background: #ff6633;
    color: #fff;
    border: 0
}

#label-choose .button-content {
    clear: both;
    float: right;
}

#label-choose li.begin {
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}

#label-choose li.choose {
    background: rgb(51, 153, 255) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(51, 153, 255);
    cursor: pointer;
}

#label-choose li.add {
    background: #3399ff;
    color: #fff;
    border: 1px solid #3399ff;
    cursor: pointer;
}

#label-choose li.sub {
    background: #ff6633;
    color: #fff;
    border: 1px solid #ff6633;
    cursor: pointer;
}